<h1>Dashboard</h1>

<p><%= link_to "create a gym", new_gym_path%></p>

<p><%= link_to "Register a new user", new_member_path%></p>


<p><%= link_to "sign out", destroy_admin_session_path, data: {turbo_method: :delete} %></p>


<h1><%=@members.count%> members and counting</h1>
<%@members.each do |member|%>
	<p><%=member.firstname%></p>
<%end%>