<!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <%= render "layouts/sidebarmenu"%>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <!-- <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div> -->
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                  
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <!--   <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      
                    </li>
                    <li>
                      
                    </li>
                    <li>
                      
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      
                    </li>
                  </ul> -->
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                
                <div class="col-xl">

                  <!-- table number 1 -->
            
               <div class="card mb-4">
                 <% if flash[:notice] %>
                   <div class="alert alert-danger">
                     <%= flash[:notice] %>
                   </div>
                 <% end %>
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Assign Membership for <%= @member.firstname%></h5>
         
                    </div>
                    <div class="card-body">
                    <%if @admin.membership_types.present?%>
                 
                        <%= form_for @membership do |f| %>

                            <%=f.hidden_field :member_id , value: @member.id%>
                          <div class="mb-3 row">
                            <%= f.label :membership_type_id ,class: "form-label"%>
                            <%= f.collection_select :membership_type_id, MembershipType.all, :id, :membership_name , {},{:class=>'form-select'}%>
                          </div>

                          <div class="mb-3 row">
                            <%= f.label :start_date, class: "form-label" %>
                            <%= f.date_field :start_date ,class: "form-control"%>
                          </div>

                          <div class="mb-3 row">
                            <%= f.label :end_date, class: "form-label" %>
                            <%= f.date_field :end_date, class: "form-control" %>
                          </div>

                          <div class="mb-3 row">
                            <%= f.submit "Assign Membership", class: "btn btn-primary" %>
                          </div>
                        <% end %>
                      <%else%>

                      <p>You cannot assign membership because you have no membership types </p>
                      <p> <%=link_to 'Create Membership Types' ,new_membership_type_path , class: "btn btn-primary"%></p>

                      <%end%>

                    </div>
                  </div>

<!-- table number 1 -->
                </div>

                <div class="col-xl">

                  <!-- table number 1 -->
            
               <div class="card mb-4">
                    
                  </div>

<!-- table number 1 -->
                </div>


                

              </div>
              <div class="row">
                <!-- Order Statistics -->
                <div >

                  
                </div>
                
                <!--/ Transactions -->
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
