
<!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <%= render "layouts/sidebarmenu"%>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <!-- <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div> -->
                <% if flash[:notice] %>
                   <div class="alert alert-danger">
                     <%= flash[:notice] %>
                   </div>
                 <% end %>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                  
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <!--   <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      
                    </li>
                    <li>
                      
                    </li>
                    <li>
                      
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      
                    </li>
                  </ul> -->
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                
                <div class="col-xl">

                  <!-- table number 1 -->
            
               <div class="card mb-4">
                 
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">New Membership Type</h5>
         
                    </div>
                    <div class="card-body">
                 
                        <%= form_for @membership_type do |f| %>
                        <div class="mb-3">
                          <%= f.label :membership_name, class: "form-label" ,for: "basic-default-fullname" %>
                        <%= f.text_field :membership_name, class: "form-control" ,id: "basic-default-fullname" ,placeholder: "John Doe" %>

                        </div>
                        
                        <div class="mb-3">
                          
                          <%= f.label :duration, class: "form-label", for: "basic-default-email" %>

                          <%= f.number_field :duration, id: "basic-default-email", class: "form-control input-group input-group-merge", placeholder: "Number of days", aria_label: "john.doe",aria_describedby: "basic-default-email2"  %>
      
                        </div>
                        <div class="mb-3">
                          <%= f.label :price, class: "form-label" ,for: "basic-default-phone" %>
                         
                          <%= f.number_field :price, id: "basic-icon-default-phone" ,class: "form-control phone-mask"%>
                        </div>

                        <div class="mb-3">
                          <%= f.label :gym_id , class: "form-label" ,for: "basic-default-phone" %>
                         
                          <%= f.collection_select :gym_id, @admin.gyms, :id , :name, {},{:class=>'form-select'}%>
                        </div>
                        <%= f.submit class: "btn btn-primary" %>
                    
                      <%end%>
                    </div>
                  </div>


<!-- table number 1 -->
                </div>

                <div class="col-xl">

                  <!-- table number 1 -->
            
               <div class="card mb-4">
                    
                  </div>

<!-- table number 1 -->
                </div>


                

              </div>
              <div class="row">
                <!-- Order Statistics -->
                <div >

                  
                </div>
                
                <!--/ Transactions -->
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
