<h1>Register new members</h1>
<%= form_with(model: @member, url: create_member_path, local: true) do |f| %>
	<%= f.label :First_Name %>
	<p><%= f.text_field :firstname %></p>

	<%= f.label :email %>
	<p><%= f.text_field :email %></p>
	<%= f.label :Phone_Number%>
	<p><%= f.text_field :password%></p>
	<%= f.submit %>
<%end%>
